<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h2 class="font-bold text-4xl">
      <%= "Job applications of #{@user.name}" %>
    </h1>
  </div>

  <div id="job_applications" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @job_applications.any? %>
      <table class="min-w-full table-auto divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-6 py-3 text-left text-sm font-bold text-gray-900 uppercase">User</th>
            <th class="px-6 py-3 text-left text-sm font-bold text-gray-900 uppercase">Job</th>
            <th class="px-6 py-3 text-left text-sm font-bold text-gray-900 uppercase">Company</th>
            <th class="px-6 py-3 text-left text-sm font-bold text-gray-900 uppercase">Applied On</th>
            <th class="px-6 py-3 text-left text-sm font-bold text-gray-900 uppercase">Status</th>
            <th class="px-6 py-3 text-left text-sm font-bold text-gray-900 uppercase">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @job_applications.each do |job_application| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= job_application.user.name %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= job_application.job.title %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= job_application.job.company.name %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= format_date(job_application.applied_on) %></td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= job_application.status.capitalize %></td>
              <td class="px-4 py-4 whitespace-nowrap text-sm font-medium space-x-2">
                <%= link_to "Show", job_application, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                <%= link_to "Edit", edit_job_application_path(job_application), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                <div class="sm:inline-block">
                  <%= button_to "Destroy", job_application, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer",  data: { turbo_confirm: "Are you sure?" } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center my-10">No job applications found.</p>
    <% end %>
  </div>
</div>
