<div id="<%= dom_id job_application %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= job_application.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Applied on:</strong>
    <%= job_application.applied_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Job:</strong>
    <%= job_application.job.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= job_application.job.company.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= job_application.user.name %>
  </div>
</div>
